include header

.container
    
    h1 Статті
    div
        a(href="/articles/new") Створити
    hr
    div
        each article in articles
            div
                div
                    a(href=`/articles/${article.url}`)= article.title
                div
                    a(href=`/articles/${article.url}/edit`) Edit
                div
                    form(method="POST", action=`/articles/${article.url}/delete`, style="display:inline")
                        button(type="submit") Delete 