include header

.container
    h1 Search

    div
        form(action="")
            div
                label(for="text")
            div
                input(type="text" id="text" name="text")
    #result

script(src="/js/search.js") 
