include header

.container
    h1 Hi, #{email}!
    h2 Dashboard
    p Ви увійшли в систему.
    p Ваша роль: #{role}
    img(src="https://miro.medium.com/v2/resize:fit:1400/1*heL-f8bPywxsNG2snNPIwQ.jpeg", alt="", style="max-width:200px;")
    div
      a(href="/logout") Вийти
    br
    if tasks.length > 0
    div
      h3 Tasks
      ul
        each task in tasks
          li= task.title					
