.radio-group {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.radio-group input {
  margin-bottom: 0;
}

.radio-group label {
  margin-bottom: 0;
}

.radio-group-label {
  margin-bottom: 10px;
  margin-top: 10px;
}
