form(action="/form" method="POST")
	input(type="text" name="username" placeholder="Ваше ім’я" required)
	br
	br
	textarea(name="message" placeholder="Ваш відгук" required)
	br
	br
	button(type="submit") Надіслати
	br
	br
	a(href="/") Back to main
	br
	a(href="/guests") See reviews